#top{
    background: rgb(255, 255, 255,0.7);
    box-shadow: 1px 1px 5px gray;
    padding: 10px 0;
}
@media only screen and (max-width: 1000px) {
    body.material #header-outer[data-header-resize="1"]:not([data-format=left-header]):not(.scrolled-down):not(.small-nav) {
        border-bottom: 1px solid #424041;
padding: 0;
    }
        div#header-outer.scrolled-down {
        padding: 0;
        background: #fff !important;
    }
}
@media only screen and (min-width: 1000px) {
    .container, .material #search-outer #search, .nectar-recent-posts-slider .flickity-page-dots, .post-area.standard-minimal.full-width-content .post .inner-wrap, .woocommerce-tabs .full-width-content .tab-container, body[data-header-format=left-header] .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        max-width: 2000px;
    }
}
#header-outer #logo img, #header-outer .logo-spacing img {
    height: 40px;
}